extends layout

block content
  h1= title
  p Welcome to #{title}
  p This is navya's local host
  //a(claa='button') Press Me
  <button (type="button", xclass = "btn-btn-secondary")>PressME</button>
